*.config
*.manifest
US Draaaaven 2016/bin/Debug/EloBuddy.vshost.exe
*.pdb
US Draaaaven 2016/.vs/EloBuddy/v14/.suo
*.cache
US Draaaaven 2016/obj/Debug/US Draaaaven 2016.csproj.FileListAbsolute.txt
*.exe